/* 
    Document   : psb
    Created on : Mar 20, 2013, 6:40:14 PM
    Author     : Carlos
    Description:
        Purpose of the stylesheet follows.
*/
.ui-frame-content { 
    padding-left: 8px;
    padding-right: 8px;
    background-color: white;
    width: 1250px;
}

.ui-side-menu-content{
    vertical-align:top;
    width: 159px;
}

.ui-view-content{
    height:600px;
    vertical-align: top;
}

.ui-header-content{
    height: 105px;
    background-size:800px 105px;
    background-image: url(images/ocsystem-banner2.jpg);
    background-repeat:no-repeat;
}

.ui-body-content { 
    color: black;
    margin: 0px;
    background: #C7D2E7;
}

/*following 3 classes are for form dialog*/
input.text, select.text, div.text {
    margin-bottom:12px;
    width:100%; padding: .4em;
}

div.text {
    width:97%;
}



.paging_full_numbers .ui-button {
    color: #336699 !important;
}

div.form-frame{
    padding: 14px;
}

